In [2]:

import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score, confusion_matrix
import numpy as np
import matplotlib.pyplot as plt

In [3]:
# Read in the data from the CSV file
df = pd.read_csv('datasets/payment_fraud.csv')

In [4]:
df.sample(30)

,accountAgeDays,numItems,localTime,paymentMethod,paymentMethodAgeDays,label
10166,70,1,4.836982,creditcard,0.000000,0
27396,1233,5,4.524580,storecredit,866.961111,0
13869,549,1,4.921349,creditcard,548.199306,0
11631,6,2,4.921318,creditcard,0.000000,0
19931,1963,1,4.921349,creditcard,0.000000,0
17829,1108,1,4.524580,creditcard,0.040972,0
31011,2000,1,4.962055,creditcard,0.000000,0
35913,1911,1,4.921318,creditcard,258.493750,0
7924,1416,1,4.505662,creditcard,0.000694,0
18690,1508,1,4.742303,storecredit,0.000000,0
37436,137,1,4.745402,creditcard,65.129167,0
18835,6,1,5.040929,creditcard,0.000000,0
34367,1569,1,4.965339,creditcard,113.208333,0
37958,2000,1,5.034622,creditcard,0.000000,0
21976,726,1,4.921318,creditcard,0.000694,0
9855,1589,1,4.057414,creditcard,0.003472,0
15827,2,1,4.836982,creditcard,0.995139,0
35128,2000,1,4.876771,creditcard,191.079167,0
15257,88,1,5.034622,creditcard,0.000000,0
29261,1928,1,4.921318,creditcard,0.000694,0
24016,1629,1,4.921318,paypal,1628.827778,0
18866,1144,1,4.524580,creditcard,0.001389,0
38723,2000,1,4.836982,creditcard,0.000000,0
19465,2000,1,4.876771,creditcard,0.001389,0
16873,915,1,5.040929,paypal,0.602083,0
11434,47,1,4.921318,paypal,0.000000,0
24704,220,1,4.886641,creditcard,219.498611,0
21584,11,1,3.483951,creditcard,0.000694,0
24304,1604,1,4.748314,creditcard,157.525000,0
25682,3,1,4.921318,creditcard,0.000694,0

In [5]:
# Convert categorical feature into dummy variables with one-hot encoding
df = pd.get_dummies(df, columns=['paymentMethod'])
df.sample(3)

,accountAgeDays,numItems,localTime,paymentMethodAgeDays,label,paymentMethod_creditcard,paymentMethod_paypal,paymentMethod_storecredit
38525,5,1,4.886641,4.032639,0,False,False,True
33324,1660,1,5.034622,0.448611,0,False,True,False
5434,101,1,5.040929,0.000000,0,False,True,False

In [6]:
# Split dataset up into train and test sets
X_train, X_test, y_train, y_test = train_test_split(
    df.drop('label', axis=1), df['label'],
    test_size=0.33, random_state=17)

In [7]:
# Initialize and train classifier model
clf = LogisticRegression().fit(X_train, y_train)

# Make predictions on test set
y_pred = clf.predict(X_test)

In [8]:
# Compare test set predictions with ground truth labels
print(accuracy_score(y_pred, y_test))
print(confusion_matrix(y_test, y_pred))

1.0
[[12753     0]
 [    0   190]]